button {
  width: 25px;
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
  
  background-color: var(--theme-color);
  color: var(--title-foreground-color);
  border: none;
  padding: 0;
}

button:hover {
  background-color: #FFFFFF33;
}