.Titlebar {
  position: absolute;
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height, var(--fallback-title-bar-height));
  min-height: 30px;
  width: 100%;
  background-color: var(--theme-color);
}

.leftContainer {
  position: absolute;
  top: env(titlebar-area-y, 0);
  display: flex;
  user-select: none;
  height: 100%;
  left: env(titlebar-area-x, 0);
  width: env(titlebar-area-width, 100%);

  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  /* cut off UI so you know that it would flow under the overlay */
  overflow: hidden;
}

.leftContainer > * {
  margin-right: 16px;
}

.leftContainer > span {
  margin: auto 16px auto 16px;
  flex-shrink: 0;
}

.leftContainer > input {
  flex: 1 1;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: none;
  padding: 8px;
}

.draggable {
  -webkit-app-region: drag;
}

.nonDraggable {
  -webkit-app-region: no-drag;
}